<footer>
    <div class="f-info mt-5">
        <div class="f-info-social mb-2">
            <i class="fa-brands fa-lg fa-square-facebook me-2"></i>
            <i class="fa-brands fa-lg fa-square-instagram me-2"></i>
            <i class="fa-brands fa-lg fa-linkedin me-2"></i>
        </div>
        <div class="mb-2">&copy; CozyCorners Private Limited</div>
        <div class="f-info-links mb-2">
            <a href="" class="me-2">Privacy</a>
            <a href="">Terms</a>
        </div>
    </div>
</footer>