<% layout("/layouts/boilerplate") %>
<%- include('./includes/flash.ejs') %>
<body>
    <div class="row" style="min-height: 78vh;">
        <div class="col-xl-8 col-lg-10 col-md-11 mx-auto">
            <div class="alert alert-primary fw-semibold mb-5" role="alert">
                <%= message %>
            </div>          
            <div style="display: flex; justify-content: center;align-items: center; flex-direction: column;">
                <div class="mb-2 fs-3 fw-bold" style="word-spacing: 4px; color: #14623d;">Oops! Some Error Occured</div>
                <div class="error-icon"></div>
            </div>
        </div>
    </div>
</body>
</html>