<% layout("/layouts/boilerplate") %>
<body>
    <div class="home">
        <h1 class="mt-4 text-center fw-bold" style="color: #fff; font-size: 3.5rem;">Cozy Corners</h1>
        <h4 class="mb-4 text-center fw-bold" style="color: #ffbf49; word-spacing: 4px;">Your Perfect Stay, Just a Click Away!</h4>
    </div>
</body>