#map{
    height: 32rem;
    width: 100%;
}
@media (max-width: 991.98px) { 
    #map{height: 28rem;}
}
@media (max-width: 575.98px) { 
    #map{height: 24rem;}
}

.mapboxgl-popup {
    min-width: 200px;
}
#menu{
    background-color: #8ECDDD;
    padding: 0.3rem;
}
#menu label{
    color: #161851;
    font-weight: bold;
}