* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Plus Jakarta Sans";
}

:root {
    --primary-color: #0F1035;
    --secondary-color: #22668D;
    --tertiary-color: #ffc107;
    --light-y-color: #FFFADD;
    --light-b-color: #8ECDDD;
}
.index::before{
    content: "";
    position: fixed;
    top: 0;
    width: 0;
    background-image: url('../assets/bg15.jpg');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -100;
    background-size: cover;
    filter: blur(2px);
}
.index .card{
    background-color: transparent;
}
.index .card-body{
    background-color:rgba(0,0,0,0.4); 
    color: #fff;;
}
.navbar-brand {
    color: var(--secondary-color);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.navbar-brand span {
    font-size: 1.8rem;
}
.navbar-brand:hover {
    color: #185070;
}
.nav-link {
    font-weight: 500;
    position: relative;
    text-decoration: none;
}

.nav-link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
}

.nav-link:not(:hover)::after {
    width: 0;
    left: 50%;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    display: flex;
    background-color: #ebebeb;
    height: 8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-info-social i {
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: all 0.2s linear;
}
.f-info-social i:hover {
    color: rgba(0, 0, 0, 0.9);
}
.listing-card {
    text-decoration: none;
}
.card {
    border: none;
}
.listing-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 17rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0;
    transition: all 0.2s ease-in;
}
.listing-card-overlay:hover {
    opacity: 1;
    box-shadow: 0 0 4px white;
}
.index .card-img-top {
    height: 17rem;
}
.card-body {
    color: black;
}
.show .card-img-top{
    height: 20rem;
}
.btn-blue {
    background-color: #22668D;
    color: #fff;
    padding: 0.3rem 0.6rem;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}
.btn-blue:hover {
    background-color: #3191c9;
    color: #fff;
}
.btn-yellow {
    background-color: #ffa500;
    color: #fff;
    padding: 0.3rem 0.6rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.btn-yellow:hover {
    background-color: #ffc107;
    color: #fff;
}
.new::before{
    content: "";
    position: fixed;
    top: 0;
    width: 0;
    background-image: url('../assets/bg16.jpg');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -100;
    background-size: cover;
    filter: brightness(0.9);
}
.new .box{
    background-color: rgba(255,255,255,0.7);;
    font-weight: 500;
}
.new .box form input, 
.new .box form textarea 
{
    background-color: inherit;
    font-weight: 500;
    border: 2px solid var(--secondary-color);
}
.edit::before{
    content: "";
    position: fixed;
    top: 0;
    width: 0;
    background-image: url('../assets/bg6.avif');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -100;
    background-size: cover;
    filter: brightness(0.9);
}
.edit .box{
    background-color: rgba(255,255,255,0.7);
    font-weight: 500;
}
.edit .box form input, 
.edit .box form textarea 
{
    background-color: inherit;
    border: 2px solid var(--secondary-color);
}
.edit, .new, .index{
    display: none;
}
.loaded{
    display: block;
}
/* calendar */
.fc-daygrid-day-events{
    display: none;
}
.fc-daygrid-day-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 0.7rem;
}
.fc-daygrid-day-number{
    text-decoration: none;
    color: #1a587b;
    font-size: 1.2rem;
    font-weight: 600;
}
.fc .fc-toolbar-title{
    color: #185070;
    font-weight: 600;
    font-size: 1.2rem;
}
.fc-col-header-cell-cushion{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.fc-scrollgrid  .fc-scrollgrid-liquid{
    border: none;
}
.fc .fc-scrollgrid-liquid {
    outline: none;
    overflow: hidden;
}
.fc-scrollgrid-sync-inner{
    border: 1px solid var(--secondary-color);
}
.fc .fc-toolbar.fc-header-toolbar{
    margin-bottom: 0.5rem;
}
.fc .fc-button-primary ,
.fc .fc-button-primary:disabled {
    padding: 4px 8px;
    font-size: 0.9rem;
}
.fc-col-header{
    background-color: var(--secondary-color);
}
.fc .fc-daygrid-day.fc-day-today {
    background-color: var(--light-b-color);
    border-radius: 0.7rem;
}
.fc-theme-standard td, .fc-theme-standard th,
.fc-theme-standard .fc-scrollgrid{
    border: 1px solid white;
}
.fc .fc-cell-shaded, .fc .fc-day-disabled {
    background-color: #e5e5e5;
    border-radius: 0.75rem;
    opacity: 0.4;
}
.fc .fc-button-primary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
    font-weight: 500;
}
.fc .fc-button-primary:disabled {
    background-color: #004a75;
    border-color: #004a75;
    color: white;
    font-weight: 700;
}
.error-icon{
    background-image: url('../assets/turtle.jpg');
    background-size: cover;
    border-radius: 1rem;
    height: 25rem;
    width: 25rem;
}
.edit-review-form{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.2s ease-in;
}
.edit-review-form.show{
    max-height: 600px;
    overflow: visible;
    opacity: 1;
}