* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Plus Jakarta Sans";
}

:root {
    --primary-color: #161851;
    --secondary-color: #22668D;
    --tertiary-color: #ffc107;
    --light-y-color: #FFFADD;
    --light-b-color: #8ECDDD;
}
.index .card{
    background-color: transparent;
    box-shadow: 0 0 18px #bdbdbd;
}
.index .card-body{
    color: var(--secondary-color);
    background-color:#CDF5FD;
    border: 2px solid #22668D;
}
.listing-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 17rem;
    width: 100%;
    background-color: #8ecddd3e;
    border: 2px solid #22668D;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
    transition: all 0.2s ease-in;
}
.listing-card-overlay:hover {
    opacity: 1;
}
.index .card-img-top {
    height: 17rem;
}
.navbar{
    height: 60px;
}
.navbar-brand {
    color: var(--secondary-color);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.navbar-brand span {
    font-size: 1.8rem;
}
.navbar-brand:hover {
    color: #185070;
}
.navigation-underline {
    font-weight: 500;
    position: relative;
    text-decoration: none;
}
.navigation-underline::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 0.4s ease-in-out, left 0.4s ease-in-out;
}

.navigation-underline:hover::after {
    width: 100%;
    left: 0;
}

.navigation-underline:not(:hover)::after {
    width: 0;
    left: 50%;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    display: flex;
    background-color: #ebebeb;
    height: 8rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-info-social i {
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: all 0.2s linear;
}
.f-info-social i:hover {
    color: rgba(0, 0, 0, 0.9);
}
.card {
    border: none;
}
.card-body {
    color: black;
}
.show .card-img-top{
    height: 22rem;
}
@media (max-width: 575.98px) { .show .card-img-top{height: 17rem;}}
.btn-blue-outline {
    background-color: #fff;
    color: #22668D;
    padding: 0.3rem 0.6rem;
    text-decoration: none;
    border: 2px solid #22668D;
    border-radius: 5px;
    transition: all 0.1s  linear;
}
.btn-blue-outline:hover {
    background-color: #22668D;
    color: #fff;
}
.btn-yellow-outline {
    background-color: #fff;
    color: #ffc107;
    padding: 0.3rem 0.6rem;
    text-decoration: none;
    border: 2px solid #ffc107;
    border-radius: 5px;
    transition: all 0.1s  linear;
}
.btn-yellow-outline:hover {
    background-color: #ffc107;
    color: #fff;
}
.btn-blue {
    background-color: #22668D;
    color: #fff;
    padding: 0.3rem 0.6rem;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}
.btn-blue:hover {
    background-color: #3191c9;
    color: #fff;
}
.btn-yellow {
    background-color: #ffa500;
    color: #fff;
    padding: 0.3rem 0.6rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
.btn-yellow:hover {
    background-color: #ffc107;
    color: #fff;
}
.new::before{
    content: "";
    position: fixed;
    top: 0;
    width: 0;
    background-image: url('../assets/bg16.jpg');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -100;
    background-size: cover;
    filter: brightness(0.9);
}
.new .box{
    background-color: rgba(255,255,255,0.7);;
    font-weight: 500;
}
.new .box form input, 
.new .box form textarea ,
.new .box form select
{
    background-color: inherit;
    font-weight: 500;
    border: 2px solid var(--secondary-color);
}
.edit::before{
    content: "";
    position: fixed;
    top: 0;
    width: 0;
    background-image: url('../assets/bg6.avif');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: -100;
    background-size: cover;
    filter: brightness(0.9);
}
.edit .box{
    background-color: rgba(255,255,255,0.7);
    font-weight: 500;
}
.edit .box form input, 
.edit .box form textarea ,
.edit .box form select
{
    background-color: inherit;
    border: 2px solid var(--secondary-color);
}
.edit, .new{
    display: none;
}
.loaded{
    display: block;
}
/* calendar */
.fc-daygrid-day-events{
    display: none;
}
.fc-daygrid-day-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
}
.fc-daygrid-day-frame:hover{
    background-color: var(--light-b-color);
}
.fc-daygrid-day-number{
    text-decoration: none;
    color: #154a69;
    font-size: 1.3rem;
    font-weight: 700;
}
.fc .fc-toolbar-title{
    color: #154a69;
    font-weight: 800;
    font-size: 1.3rem;
}
.fc-col-header-cell-cushion{
    text-decoration: none;
    color: #154a69;
    font-weight: 900;
    font-size: 1.1rem;
    text-transform: uppercase;
}
.fc .fc-toolbar.fc-header-toolbar{
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #b8b8b8;
}
.fc .fc-button-primary ,
.fc .fc-button-primary:disabled {
    padding: 4px 8px;
    font-size: 0.9rem;
}
.fc-col-header{
    background-color: var(--light-b-color);
}
.fc-theme-standard td, .fc-theme-standard th {
    border: 2px solid #22668D;
    background-color: transparent;

}
.fc-theme-standard .fc-scrollgrid{
    border-top: 2px solid #22668D;
    border-left: 2px solid #22668D;
    background-color: transparent;
}
.fc-day-other{
    visibility: hidden !important;
}
.fc .fc-button-primary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: white;
    font-weight: 500;
}
.fc .fc-button-primary:disabled {
    background-color: #004a75;
    border-color: #004a75;
    color: white;
    font-weight: 700;
}
#calendar-box{
    border: 1px solid #dcdcdc;
}
@media (max-width: 575.98px) { #calendar-box{border: none;}}
@media (max-width: 380px) { 
    #calendar-box{border: none;}
    .fc .fc-scrollgrid-liquid {
        height: 278px;
    }
    #bookBtn{margin-top: 2rem;}
}
#calendar-box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -100;
    background: url("../assets/cbg.jpg");
    background-size: cover;
    border-radius: 1.2rem;
}
#bookBtn{
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease-in;
}
#booking-number{
    font-weight: 600;
    color: #222222;
    background-color: #e1e1e1;
    font-size: 1.1rem;
    word-spacing: 0.35rem;
    text-transform: capitalize;
}
.error-icon{
    background-image: url('../assets/turtle.jpg');
    background-size: cover;
    border-radius: 1rem;
    height: 25rem;
    width: 25rem;
}
.edit-review-form{
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.2s ease-in;
}
.edit-review-form.show{
    max-height: 600px;
    overflow: visible;
    opacity: 1;
}
.swiper-slide{
    background-size: cover;
    border-radius: 10px;
}
.swiper{
    height: 15rem;
}
.slide-one{background-image: url("../assets/bg1.jpg");}
.slide-two{background-image: url("../assets/bg11.jpg");}
.slide-three{background-image: url("../assets/bg12.jpg");}
.slide-four{background-image: url("../assets/bg6.avif");}
.slide-five{background-image: url("../assets/bg14.jpg");}
.slide-six{background-image: url("../assets/bg15.jpg");}
.slide-seven{background-image: url("../assets/bg16.jpg");}
.slide-eight{background-image: url("../assets/bg17.jpg");}
.slide-nine{background-image: url("../assets/bg4.jpg");}
.slide-ten{background-image: url("../assets/bg5.jpg");}

.swiper-index{
    overflow: hidden;
    position: relative;
}
.swiper-wrapper{
    position: relative;
}
.swiper-button-next, .swiper-button-prev{
    position: absolute;
    background-color: #d5f7ff;
    border-radius: 7px;
    height: 100%;
    color: #22668D;
    transition: all 0.1s ease-in;
}
.swiper-button-next:hover{
    font-size: 1.2rem;
}
.swiper-button-prev:hover{
    font-size: 1.2rem;
}
.swiper-button-next{right: 0;}
.swiper-button-prev{left: 0;}
.swiper-index .swiper-slide a{
    text-decoration: none;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after ,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '';
}
.filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #22668D;
    text-align: center;
}
.filter:hover{
    color: #161851;
    cursor: pointer;
}
.filter p{
    font-size: 0.8rem;
}
#nav-search input[type="search"]{
    width: 23rem;
}
@media (max-width: 575.98px) { 
    #nav-search input[type="search"]{width: 15rem;}
}

