<% layout("/layouts/boilerplate") %>
<body>
    <div class="col-xl-9 col-lg-10 col-md-11 mx-auto">
        <h1 class="text-center fw-bold mt-4 mb-5" style="color: #22668D; word-spacing: 0.5rem;">Welcome Back! Login to CozyCorners</h1>
        <div class="mb-5 border rounded-4 p-xl-4 p-4 box" style="box-shadow: 0 0 15px #d7d7d7;">
            <form action="/login" method="post" novalidate class="needs-validation">
                <div class="mb-4">
                    <label for="username" class="form-label mb-1">Enter your Username :</label>
                    <input type="text" name="username" id="username"  class="form-control" placeholder="kajal-mishra-29" required>
                    <div class="invalid-feedback">
                        Username is required, please provide a valid username.
                    </div>
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label mb-1">Enter your password :</label>
                    <div class="input-group">
                        <input type="password" name="password" id="password" class="form-control" required>
                        <span class="input-group-text" style="cursor: pointer;" id="password-eye-box"><i class="fa-regular fa-eye-slash"></i></span>
                        <div class="invalid-feedback">
                            Password is required, please provide a vaid password.
                        </div>
                    </div> 
                </div>
                <button class="btn btn-blue fw-semibold">Login</button>
            </form>
        </div>
    </div>
</div>
</body>
